*{
  font-family: 'Roboto', sans-serif;
  color: #000;
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
 }

body{
  font-size: 60%;
  line-height: 1rem;
}
.content{
  background-color:#d2d7e3;  
  background-size: 100% 100%;
  position: relative;
  width: 800px;
  height: 800px;
  padding: auto;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 1rem;    
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: scroll;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: 105vh;
        margin: 0rem auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

