
.pokemons{
    flex-wrap: wrap;
    display: flex;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
.normal {
    background-color: #a6a877;
    color: #503a1f;
}

.grass {
    background-color: #00dcb3;
    color: #1a4e42;
}

.fire {
    background-color: #ff5b60;
    color: #531818;
}

.water {
    background-color: #81abff;
    color: #2e485f;
}

.electric {
    background-color: #f7cf2e;
    color: #524a1c;
}

.ice {
    background-color: #98d5d7;
    color: #20494b;
}

.ground {
    background-color: #dfbf69;
    color: #463d14;
}

.flying {
    background-color: #a98ff0;
    color: #261a49;
}

.poison {
    background-color: #a040a0;
    color: #3e103f;
}

.fighting {
    background-color: #bf3029;
    color: #3d0c0a;
}

.psychic {
    background-color: #f65687;
    color: #6d263b;
}

.dark {
    background-color: #725847;
    color: #b38f79;
}

.rock {
    background-color: #b8a137;
    color: #474b35;
}

.bug {
    background-color: #a8b720;
    color: #28461f;
}

.ghost {
    background-color: #6e5896;
    color: #b9a5df;
}

.steel {
    background-color: #b9b7cf;
    color: #34264d;
}

.dragon {
    background-color: #6f38f6;
    color: #250163;
}

.fairy {
    background-color: #f9aec7;
    color: #664147;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
    padding:0.25rem;
    border-radius: 0.5rem;
    width:85px;
    height:70px;
    box-sizing: border-box;
    display: inline-block;
}
.pokemon .number{
    color: #000;
    opacity: .1;
    text-align: right;
    margin:0.2rem;
}

.pokemon .name{
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    font-size: .6rem;
    padding: 0;
    margin: 0;
    
}
.pokemon .detail{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none; 
    text-align: center;
}

.pokemon .detail .types .type {    
    color: #fff;
    padding: 0.01rem .25rem;
    margin: .25rem .25rem;
    font-size: .325rem;
    border-radius: 0.5rem;
    filter: brightness(1.1);
    text-align: center;
    box-sizing: border-box;
}

.pokemon .detail img{
    max-width: 100%;
    width:30px;
    height:30px;
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
